<div class="container marginTop">
	<div class="row greybackground">
		<div class="col-8 offset-2 postformpadding">
			<h1 class="text-center">Comment!</h1>
			<%= form_with model: @comment, local: true do |f| %>
				<div class="form-group">
					<!-- <label for="Image Url"></label> -->
					<%= f.text_field :url, placeholder: 'Image Url', class: 'form-control' %>
				</div>
				<div class="form-group">
					<!-- <label for="Content"></label> -->
					<%= f.text_area :content, placeholder: 'Content', class: 'form-control' %>
				</div>
				<%= f.submit class: 'btn btn-danger' %>
			<% end %>
		</div>
	</div>
</div>