// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.postlistbackground {
	background-color: white;
	border-radius: 7px;
	padding: 10px;
}

.picCenter {
	margin: 0 auto;
	border-radius: 7px;
}